* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(246, 246, 246);
}

.facebook {
    text-align: center;
    color: rgb(88, 88, 248);
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}

.items {
    justify-content: center;
    display: flex;
}

.box {
    width: 450px;
    height: 600px;
    border: 1px solid rgb(228, 219, 219);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-top: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    background-color: rgb(252, 252, 252);
}

.box h2 {
    font-weight: bold;
    background-color: rgb(252, 252, 252);
}

.para-1 {
    font-size: 15px;
    padding: 5px;
    color: rgb(116, 117, 117);
    background-color: rgb(252, 252, 252);
}

.para-2 {
    color: rgb(116, 117, 117);
    position: absolute;
    margin: 20px;
    font-size: 13px;
    background-color: rgb(252, 252, 252);
}

.input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(252, 252, 252);

}

.input-2 {
    padding: 10px;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
}

#days {
    padding: 10px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
}

#months {
    padding: 10px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
}

#years {
    padding: 10px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
}

.gender {
    position: absolute;
    margin: 20px;
    color: rgb(116, 117, 117);
    font-size: 13px;
    background-color: rgb(252, 252, 252);
}

.human {
    background-color: rgb(252, 252, 252);
}

.all-gender {
    position: absolute;
    display: flex;
    width: 420px;
    height: 40px;
    margin: 20px;
    background-color: rgb(252, 252, 252);
}

.gen-item {
    border: 1px solid black;
    width: 130px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    background-color: rgb(252, 252, 252);
}

.footer {
    color: rgb(116, 117, 117);
    font-size: 11px;
    background-color: rgb(252, 252, 252);

}

.btn {
    width: 190px;
    height: 37px;
    color: #fff;
    background-color: rgb(15, 186, 15);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.btn:hover {
    background-color: rgb(12, 156, 19);
}

.last-para {
    color: rgb(98, 98, 248);
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(252, 252, 252);
}